// Vergabe der Variablen für die Farben in diesem Projekt

$color-background: rgb(255, 201, 175);
$color-highlight-light: rgb(255, 143, 132);
$color-highlight-dark: rgb(175, 108, 121);
$color-shadow: rgb(93, 69, 72);
$color-font: rgb(13, 9, 4);
